<div class="top-post">
  <div class="container">
    <div class="posts-wrapper cc-top-post">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="top-post-item w-dyn-item">
            <a data-w-id="f584d68a-6baf-e0a3-5c39-421b1f2647d2" href="/posts/japan-house-opens"
              class="top-post-image w-inline-block">
              <img alt="" src="assets/images/image-15.jpg" sizes="100vw" class="home-img post-image" />
            </a>
            <div class="top-post-text">
              <a href="/category/illustration" class="category-link">Illustration</a>
              <a href="/posts/japan-house-opens" class="top-post-link-block w-inline-block">
                <h2 class="h2">Japan House opens in mountainside to foster peak creativity. </h2>
              </a>
              <div class="post-short-text">Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad
                timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.</div>
              <div class="post-author-text">
                <div class="post-author cc-top-margin">By</div>
                <a href="/team-members/reta-torphy" class="post-author">Reta Torphy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="_3-posts">
  <div class="container">
    <div class="posts-wrapper">
      <div class="posts-collection-list-wrapper w-dyn-list">
        <div role="list" class="posts-collection-list w-dyn-items w-row">
          @for(p of PostsList; track p.url){
          <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
            <a href={{p.url}} class="posts-image w-inline-block">
              <img alt="" [src]="p.img" sizes="100vw" />
            </a>
            <div class="post-info-text">
              <a href={{p.titleUrl}} class="category-link">{{p.title}}</a>
              <a href={{p.descUrl}} class="post-title w-inline-block">
                <h3 class="h3">{{p.desc}}</h3>
              </a>
              <div class="post-author-text cc-small-thumbnail">
                <div class="post-author cc-top-margin">By</div>
                <a href={{p.authorUrl}} class="post-author">{{p.author}}</a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separator">
  <div class="separator-container">
    <div class="line-color"></div>
  </div>
</div>

<div class="latest-posts">
  <div class="container">
    <div class="section-title-text">LATEST POSTS</div>
    <div class="posts-wrapper">
      <div class="posts-collection-list-wrapper w-dyn-list">
        <div role="list" class="posts-collection-list w-dyn-items w-row">
          @for(p of LatestPostsList; track p.url;){
          <div role="listitem" class="_4-collection-item w-dyn-item w-col w-col-3">
            <a href={{p.url}} class="posts-image w-inline-block">
              <img alt="" src={{p.img}} sizes="100vw" />
            </a>
            <div class="post-info-text">
              <a href={{p.titleUrl}} class="category-link">{{p.title}}</a>
              <a href={{p.descUrl}} class="post-title w-inline-block">
                <h3 class="h3">{{p.desc}}</h3>
              </a>
              <div class="post-author-text cc-small-thumbnail">
                <div class="post-author cc-top-margin">By</div>
                <a href={{p.authorUrl}} class="post-author">{{p.author}}</a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <a routerLink="/latest" class="button w-button">view all latest posts</a>
    </div>
  </div>
</div>

<div class="separator">
  <div class="separator-container">
    <div class="line-color"></div>
  </div>
</div>

<div class="featured-posts">
  <div class="container">
    <div class="section-title-text">featured POSTS</div>
    <div class="posts-wrapper">
      <div class="posts-collection-list-wrapper w-dyn-list">
        <div role="list" class="posts-collection-list w-dyn-items w-row">
          @for(p of FeaturePostsList; track p.url;){
          <div role="listitem" class="_2-collection-item w-dyn-item w-col w-col-6">
            <a href={{p.url}} class="posts-image w-inline-block">
              <img alt="" src={{p.img}} sizes="100vw" />
            </a>
            <div class="post-info-text">
              <a href={{p.titleUrl}} class="category-link">{{p.title}}</a>
              <a href={{p.descUrl}} class="post-title w-inline-block">
                <h3 class="h3">{{p.desc}}</h3>
              </a>
              <div class="post-author-text cc-small-thumbnail">
                <div class="post-author cc-top-margin">By</div>
                <a href={{p.authorUrl}} class="post-author">{{p.author}}</a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
