<div class="footer">
  <div class="container-footer">
    <div class="container">
      <div class="top-section">
        <a href="#" title="logo" class="logo cc-footer w-inline-block">
          <img src="assets/images/logo-white.svg" alt="" class="image-logo">
        </a>
        <div class="footer-small-text">© 2018 Noiceland™, all rights reserved</div>
      </div>
    </div>

    <div class="separator-footer">
      <div class="separator-color footer-line"></div>
    </div>
    <div class="container">
      <div class="bottom">
        <div class="bottom-1">
          <div class="footer-categories">
            <div class="footer-title-text">Categories</div>
            <div class="footer-links-container cc-categories">
              <div class="w-dyn-list">
                <div class="collection-list w-dyn-items">
                  @for(c of CategoriesList; track c.title){
                  <div class="footer-collection-item w-dyn-item">
                    <a href="{{c.link}}" class="link-footer">{{c.title}}</a>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="footer-newsletter">
            <div class="footer-title-text">Subscribe to newsletter</div>
            <div class="form-block w-form form">
              <input class="text-field w-input" maxlength="256" name="Email-3" placeholder="Email address" type="email"
                required="">
              <input type="submit" class="submit-button w-button" value="Send">
            </div>
          </div>

        </div>

        <div class="bottom-2">
          <div class="footer-links-container">
            <div class="footer-links">
              <div class="footer-title-text">Information</div>
              <div class="footer-links-inner"><a href="/about" class="nav-link white">about</a><a
                  href="http://blog-b132a3.webflow.io/about#contact" class="nav-link white">contact</a><a href="#"
                  class="nav-link white">terms</a></div>
            </div>
            <div class="footer-links">
              <div class="footer-title-text">follow us</div>
              <div class="footer-links-inner"><a href="#" class="nav-link white">instagram</a><a href="#"
                  class="nav-link white">facebook</a><a href="#" class="nav-link white">twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
