<div class="footer">
  <div class="container-footer">
    <div class="container">
      <div class="top-section"><a href="#" class="logo cc-footer w-inline-block"><img
            src="https://cdn.prod.website-files.com/5b471332a0fccf5aded82f96/5b4759f1ee75f16151397de3_logo-white.svg"
            alt="" class="image-logo"></a>
        <div class="footer-small-text">© 2018 Noiceland™, all rights reserved</div>
      </div>
    </div>
    <div class="separator-footer">
      <div class="separator-color footer-line"></div>
    </div>
    <div class="container">
      <div class="bottom">
        <div class="bottom-1">
          <div class="footer-categories">
            <div class="footer-title-text">Categories</div>
            <div class="footer-links-container cc-categories">
              <div class="w-dyn-list">
                <div role="list" class="collection-list w-dyn-items">
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/animation"
                      class="link-footer">Animation</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/architecture"
                      class="link-footer">Architecture</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/graphic-design"
                      class="link-footer">Graphic Design</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/illustration"
                      class="link-footer">Illustration</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/interactive-design"
                      class="link-footer">Interactive
                      Design</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/miscellaneous"
                      class="link-footer">Miscellaneous</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/photography"
                      class="link-footer">Photography</a></div>
                  <div role="listitem" class="footer-collection-item w-dyn-item"><a href="/category/product-design"
                      class="link-footer">Product Design</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-newsletter">
            <div class="footer-title-text">Subscribe to newsletter</div>
            <div class="form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form"
                aria-label="Email Form"><input class="text-field w-input" maxlength="256" name="Email-3"
                  data-name="Email 3" placeholder="Email address" type="email" id="Email-3" required=""><input
                  type="submit" data-wait="Please wait..." class="submit-button w-button" value="Send"></form>
            </div>
          </div>
        </div>
        <div class="bottom-2">
          <div class="footer-links-container">
            <div class="footer-links">
              <div class="footer-title-text">Information</div>
              <div class="footer-links-inner"><a href="/about" class="nav-link white">about</a><a
                  href="http://blog-b132a3.webflow.io/about#contact" class="nav-link white">contact</a><a href="#"
                  class="nav-link white">terms</a></div>
            </div>
            <div class="footer-links">
              <div class="footer-title-text">follow us</div>
              <div class="footer-links-inner"><a href="#" class="nav-link white">instagram</a><a href="#"
                  class="nav-link white">facebook</a><a href="#" class="nav-link white">twitter</a>
              </div>
            </div>
            <div class="footer-links">
              <div class="footer-title-text">Template</div>
              <div class="footer-links-inner"><a href="/image-license-info" class="nav-link white">Image
                  License Info</a><a href="https://webflow.com/" class="nav-link white">Powered by
                  Webflow</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
