<div class="about-top d-flex justify-content-center align-items-center">
    <div class="container px-5 cc-center">
        <div class="text-container">
            <div class="section-title-text">about</div>
            <h1 class="h1">Clita incorrupte at vix. Nam te molestie iudicabit erroribus odio.</h1>
        </div>
    </div>
</div>

<div class="header w-100"></div>

<div class="about-blog">
    <div class="container px-5 cc-center">
        <div class="text-container">
            <div class="section-title-big">this is noiceland.</div>
            <p class="paragraph">Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed justo tation
                eligendi. Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri constituto
                incorrupte. Ut vim liber recteque eloquentiam, qui te exerci forensibus. Eu pri ullum meliore tincidunt,
                an ius aeque paulo saperet, eum modus tation an.</p>
            <p class="paragraph">Vix mandamus deseruisse voluptatibus in. Ei pri epicurei indoctum. Aeterno oportere at
                his. Nam prompta recteque dissentias id. Aperiam atomorum iudicabit sed id, malis dicit pericula at vis.
            </p>
            <p class="paragraph">At sea scripta nostrud facilisis, his at nihil ubique sententiae, aeque menandri
                urbanitas eu quo. Fastidii qualisque cum id. Tollit convenire adversarium duo te. Te vim dictas virtute
                iudicabit, tibique omittam cum ut, clita decore lucilius nec ei. Sit facer docendi ex, laoreet deserunt
                pro eu, eum putent virtute vivendum te. Purto interpretaris signiferumque te eam, at mel saperet
                voluptua.</p>
            <a href="#contact" class="link-block w-inline-block">
                <div>Contact us</div>
            </a>
        </div>
    </div>
</div>
<div class="separator">
    <div class="separator-container">
        <div class="line-color"></div>
    </div>
</div>
<div class="team">
    <div class="container px-5">
        <div class="section-title-big">our team</div>
        <div class="posts-wrapper">
            <div class="collection-list-wrapper-7 w-dyn-list">
                <div role="list" class="w-dyn-items w-row">
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/1.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Simeon Peterson</div>
                            <div class="team-member-role">Cofounder, Editor in Chief</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/2.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Simeon Brekke</div>
                            <div class="team-member-role">Cofounder, Partner</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/3.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Annie Lueilwitz</div>
                            <div class="team-member-role">Managing Editor</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/4.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Reta Torphy</div>
                            <div class="team-member-role">Managing Editor</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/5.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Leo Bartell</div>
                            <div class="team-member-role">Editor</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/6.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Clem Onojeghuo</div>
                            <div class="team-member-role">Senior Writer</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/7.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Michal Legros</div>
                            <div class="team-member-role">Senior Writer</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/8.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Rosanna Ondricka</div>
                            <div class="team-member-role">Writer</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/9.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Alessandra Ortiz</div>
                            <div class="team-member-role">Writer</div>
                        </div>
                    </div>
                    <div role="listitem" class="team-collection-item w-dyn-item w-col w-col-3">
                        <div class="team-image">
                            <img alt=""
                                src="assets/images/10.jpg" />
                        </div>
                        <div class="team-member-info">
                            <div class="team-member-name">Coby Gottlieb</div>
                            <div class="team-member-role">Writer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator">
    <div class="separator-container">
        <div class="line-color"></div>
    </div>
</div>
<div id="contact" class="contact">
    <div class="container px-5">
        <div class="text-container">
            <div class="section-title-big">Wanna get in touch?</div>
            <p class="paragraph cc-contact-text">Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed
                justo tation eligendi. Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri
                constituto incorrupte.</p>
        </div>
        <div class="contact-wrapper">
            <div class="contact-item-wrapper">
                <div class="contact-item">
                    <div class="contact-number">
                        <div class="number">1</div>
                    </div>
                    <div class="contact-info-subtitle">ADDRESS</div>
                    <div class="contact-info-text">
                        144 N 7th St. #536<br />
                        Brooklyn, NY 11249<br />United States
                    </div>
                </div>
            </div>
            <div class="contact-item-wrapper">
                <div class="contact-item">
                    <div class="contact-number">
                        <div class="number">2</div>
                    </div>
                    <div class="contact-info-subtitle">general INQUIRIES</div>
                    <div class="contact-info-text">hello@noiceland.co</div>
                </div>
            </div>
            <div class="contact-item-wrapper">
                <div class="contact-item">
                    <div class="contact-number">
                        <div class="number">3</div>
                    </div>
                    <div class="contact-info-subtitle">PRESS inquiries</div>
                    <div class="contact-info-text">press@noiceland.co</div>
                </div>
            </div>
            <div class="contact-item-wrapper">
                <div class="contact-item">
                    <div class="contact-number">
                        <div class="number">4</div>
                    </div>
                    <div class="contact-info-subtitle">potential contributors</div>
                    <div class="contact-info-text">collab@noiceland.co</div>
                </div>
            </div>
        </div>
    </div>
</div>
