<div class="title-section cc-detail">
    <div class="container px-5">
        <h2 class="h2 cc-title-section">Latest Posts</h2>
        <div class="posts-wrapper">
            <div class="posts-collection-list-wrapper w-dyn-list">
                <div role="list" class="posts-collection-list w-dyn-items w-row">
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/japan-house-opens" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-15.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/illustration" class="category-link">Illustration</a>
                            <a href="/posts/japan-house-opens" class="post-title w-inline-block">
                                <h3 class="h3">Japan House opens in mountainside to foster peak creativity. </h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/reta-torphy" class="post-author">Reta Torphy</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/helmut-lang-celebrates" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-14.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/photography" class="category-link">Photography</a>
                            <a href="/posts/helmut-lang-celebrates" class="post-title w-inline-block">
                                <h3 class="h3">Helmut Lang celebrates taxi drivers worldwide in latest campaign</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/alessandra-ortiz" class="post-author">Alessandra Ortiz</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/bowlcut-launch-a-new-summer-collection" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-13.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/photography" class="category-link">Photography</a>
                            <a href="/posts/bowlcut-launch-a-new-summer-collection" class="post-title w-inline-block">
                                <h3 class="h3">Bowlcut launch a new summer collection that pays homage to “UK legends”
                                </h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/rosanna-ondricka" class="post-author">Rosanna Ondricka</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/thousands-of-previously-unseen-photographs" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-12.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/photography" class="category-link">Photography</a>
                            <a href="/posts/thousands-of-previously-unseen-photographs"
                                class="post-title w-inline-block">
                                <h3 class="h3">Thousands of previously unseen photographs by Andy Warhol will be made
                                    public this Autumn</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/adonis-lueilwitz" class="post-author">Annie Lueilwitz</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/yinka-ilori" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-11.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/interactive-design" class="category-link">Interactive Design</a>
                            <a href="/posts/yinka-ilori" class="post-title w-inline-block">
                                <h3 class="h3">London-based Yinka Ilori’s storytelling furniture</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/adonis-lueilwitz" class="post-author">Annie Lueilwitz</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/anonymous-israeli-art-collective" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-10.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/graphic-design" class="category-link">Graphic Design</a>
                            <a href="/posts/anonymous-israeli-art-collective" class="post-title w-inline-block">
                                <h3 class="h3">Anonymous Israeli art collective Broken Fingaz direct music video for U2
                                    and Beck</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/simeon-brekke" class="post-author">Simeon Brekke</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/suzanne-saroff" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-9.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/architecture" class="category-link">Architecture</a>
                            <a href="/posts/suzanne-saroff" class="post-title w-inline-block">
                                <h3 class="h3">Suzanne Saroff’s meticulously arranged photographs alter perceptions</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/reta-torphy" class="post-author">Reta Torphy</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/anu-ambasna" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-8.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/graphic-design" class="category-link">Graphic Design</a>
                            <a href="/posts/anu-ambasna" class="post-title w-inline-block">
                                <h3 class="h3">Anu Ambasna’s playful illustrations celebrate club culture, brown bodies
                                    and perfect paunches</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/leopoldo-bartell" class="post-author">Leo Bartell</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/rudy-guedj" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-7.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/interactive-design" class="category-link">Interactive Design</a>
                            <a href="/posts/rudy-guedj" class="post-title w-inline-block">
                                <h3 class="h3">Rudy Guedj’s design work sits between “figurative motives and their
                                    abstracted representations”</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/albin-waters" class="post-author">Simeon Peterson</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/how-alex-prager" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-6.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/interactive-design" class="category-link">Interactive Design</a>
                            <a href="/posts/how-alex-prager" class="post-title w-inline-block">
                                <h3 class="h3">How Alex Prager made the world stop and stare</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/misty-legros" class="post-author">Michal Legros</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/new-platform-holdframe" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-5.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/animation" class="category-link">Animation</a>
                            <a href="/posts/new-platform-holdframe" class="post-title w-inline-block">
                                <h3 class="h3">New platform Holdframe offers animators’ full project files for others to
                                    download and explore</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/simeon-brekke" class="post-author">Simeon Brekke</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/july-things" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-4.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/miscellaneous" class="category-link">Miscellaneous</a>
                            <a href="/posts/july-things" class="post-title w-inline-block">
                                <h3 class="h3">No balls, all books: it’s July Things!</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/rosanna-ondricka" class="post-author">Rosanna Ondricka</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/mc-saatchi-fontsmith" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-3.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/illustration" class="category-link">Illustration</a>
                            <a href="/posts/mc-saatchi-fontsmith" class="post-title w-inline-block">
                                <h3 class="h3">M &amp;C Saatchi and Fontsmith collaborate on font collection for House
                                    of St Barnabas</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/adonis-lueilwitz" class="post-author">Annie Lueilwitz</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/fred-rowson" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-2.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/photography" class="category-link">Photography</a>
                            <a href="/posts/fred-rowson" class="post-title w-inline-block">
                                <h3 class="h3">Fred Rowson directs film for Years and Years</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/coby-gottlieb" class="post-author">Coby Gottlieb</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/la-design-guide" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image-1.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/graphic-design" class="category-link">Graphic Design</a>
                            <a href="/posts/la-design-guide" class="post-title w-inline-block">
                                <h3 class="h3">Need a guide to LA’s graphic design scene? Shoplifters’ new issue has got
                                    your back</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/alessandra-ortiz" class="post-author">Alessandra Ortiz</a>
                            </div>
                        </div>
                    </div>
                    <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                        <a href="/posts/a-brief-history" class="posts-image w-inline-block">
                            <img alt=""
                                src="assets/images/image_large.jpg"/>
                        </a>
                        <div class="post-info-text">
                            <a href="/category/graphic-design" class="category-link">Graphic Design</a>
                            <a href="/posts/a-brief-history" class="post-title w-inline-block">
                                <h3 class="h3">A Brief History of the FIFA World Cup Logo</h3>
                            </a>
                            <div class="post-author-text cc-small-thumbnail">
                                <div class="post-author cc-top-margin">By</div>
                                <a href="/team-members/nels-armstrong" class="post-author">Clem Onojeghuo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
