<div class="title-section cc-detail">
  <div class="container px-5">
    <h2 class="h2 cc-title-section">Latest Posts</h2>
    <div class="posts-wrapper">
      <div class="posts-collection-list-wrapper w-dyn-list">
        <div role="list" class="posts-collection-list w-dyn-items w-row">
          @for(p of LatestPosts; track p.url){
          <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
            <a href={{p.url}} class="posts-image w-inline-block">
              <img alt="" [src]="p.img" />
            </a>
            <div class="post-info-text">
              <a href={{p.titleUrl}} class="category-link">{{p.title}}</a>
              <a href={{p.descUrl}} class="post-title w-inline-block">
                <h3 class="h3">{{p.desc}}</h3>
              </a>
              <div class="post-author-text cc-small-thumbnail">
                <div class="post-author cc-top-margin">By</div>
                <a href={{p.authorUrl}} class="post-author">{{p.author}}</a>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
